:root {
    --primary-color: #E50914;
    --secondary-color: #ffffff;

    --font-size-large: 20px;
    --font-size-medium: 17px;
    --font-size-small: 15px;
}

.Home-main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
}

.Home-container{
    width: 100%;
    height: 100%;

}

.Home-nav{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    border-radius:  0 0 30px 30px;
}

.Home-nav p{
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.Home-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    gap:10px
}

.Home-input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: var(--font-size-small);
}

.Home-Verification-container{
    display: flex;
    justify-content: center;
}

.Home-Verification-wrapper{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7ebec;
}

.Home-Verification-heading{
    font-size: var(--font-size-medium);
    font-weight: bold;
    margin-bottom: 20px;
}

.Home-Verification-check-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 3rem;
}

.Home-Verification-content{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--font-size-small);
}

.Home-Verification-checks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--secondary-color);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.Home-Verification-checks:active{
    transform: scale(0.9);
}

.Home-Verification-content{
    font-size: var(--font-size-medium);
}

.Home-Verification-uncheck{
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    background-color: rgba(223, 223, 223, 0.555);
    padding: 12.5px;
}

.Home-Verification-submit{
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    font-size: var(--font-size-large);
    margin-top: 20px;
    align-self: flex-end;
}